<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Other Accounts Page</title>
    
</head>
<body>
<h1>Edit Other Account</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="Email" placeholder="New Email" value=""><br>
        <input type="password" name="Password" placeholder="New Password" value=""><br>
        <input type="text" name="First Name" placeholder="First Name" value=""><br>
        <input type="text" name="Last Name" placeholder="Last Name" value=""><br>
        <input type="text" name="Address" placeholder="New Address" value=""><br>
        <input type="text" name="Phone Number" placeholder="New Phone Number" value=""><br>
        <input type="text" name="User Email" placeholder="Please Enter User's Email" required><br>
        <input type="submit" value="Make Changes">
    </form>
    {% if message %}
            <p class="message">{{ message }}</p>
    {% endif %}
    <a href="/accountsViewSelf">Back</a>
</body>
</html>